<%- include("partials/header"); -%>
    <h1>About</h1><hr>
    <h3 class="about">Certainly! "Daily Journal" is a unique and user-friendly website dedicated to the art of journaling and blogging. It offers a platform where individuals can create, compose, and publish their daily journals and blogs with ease.</h3>
<%- include("partials/footer"); -%>
