<%- include("partials/header"); -%>
    <h2> Vijay V</h2><hr>
    <h3><i class="bi bi-telephone"></i> 9742219004 </h2>
    <h3><i class="bi bi-envelope"></i> viijay1999@gmail.com</h2>
    <h3><i class="bi bi-geo-alt"></i> Bengaluru, India</h2><br>
    <hr>
    <div class="icon">
        <a href="https://github.com/vijayv18"><i class="bi bi-github"></i></a>
        <a href="https://www.instagram.com/vi_jayyy/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/vijayv18/"><i class="bi bi-linkedin"></i></a>
    </div>
    <%- include("partials/footer"); -%>
